.article p{
	color: #DFDFDF;
	text-indent: 2em;
}
.article h3{
	color: #5A98FC;
	font-size: 20px;
}
.article a{
	color: #F6F404;
}
h4{
	color: #F15D6C;
}
/*自定义标签*/
cd{
	color: #5EDDE1;
	border: 1px solid #5EDDE1;
	border-radius: 4px;
	margin:4px; 
}
txt{
	display: inline-block;
	border-radius: 3px;
	padding:0 4px;
	margin: 4px 10px;
	border: 1px solid #DBD7D7;
}
.img{
	display: inline-block;
	width: 250px;
	height: 140px;
}