---
layout: default
---

{% for post in paginator.posts %}
<!-- main articles -->
<h2 class="text-right">
  <a class="post-link post-title" href="{{ post.url | prepend: site.baseurl }}" >{{ post.title }}</a>
</h2>
<h4 class="text-right" ><small class="date-style">{{ post.date | date: "%b %-d, %Y" }}</small></h4>
        {% if post.description %}
        <p class="post-content">{{ post.description | strip_html | strip_newlines | truncate: 250 }}</p>
            <p align="right" ><a class="btn small-title" href="{{ post.url | prepend: site.baseurl }}">展开阅读 »</a></p>
            {% include tags.html %}
        {% else %}
        <p class="post-content">{{ post.content | strip_html | strip_newlines | truncate: 250 }}</p>
            <p align="right"><a class="btn small-title" href="{{ post.url | prepend: site.baseurl }}">展开阅读 »</a></p>
            {% include tags.html %}
        {% endif %}

<hr>
<!-- article ends -->
{% endfor %}

<ul class="pager">
  {% if paginator.previous_page %}
      <li class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><img src="{{ site.url}}images/prev.gif" alt="prvebtn" /></a></li>
  {% endif %}
    {% if paginator.next_page %}
      <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><img src="{{ site.url}}images/next.gif" alt="nextbtn" /></a></li>
  {% endif %}
</ul>
